TrainingData/
DebuggingData/
old/
*.log
__pycache__/
ruff.toml
.ruff_cache/
wandb/
TrainingDataCAMGRID/
DebuggingDataCAMGRID/
checkpoints/
Collection/
output/
helper/
iplanner_percept_net.py
iplanner_planner_net.py